/* App.css */
@font-face {
    font-family: 'Aeonik-regular';
    src: url('./Assets/Fonts/AeonikTRIAL-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'Aeonik-bold';
    src: url('./Assets/Fonts/AeonikTRIAL-Bold.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }
@font-face {
    font-family: 'Aeonik-bolditalic';
    src: url('./Assets/Fonts/AeonikTRIAL-BoldItalic.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'Aeonik-light';
    src: url('./Assets/Fonts/AeonikTRIAL-Light.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
body {
  background-color: black;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
  font-family: "Aeonik-regular";
}